@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  letter-spacing: normal;
}

html{
  scroll-behavior: smooth;
}
body {
  color: #fff;
  font-size: 18px;
}


/*Header*/

  .header{
    background-color: #2c282887;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: #ddd;
  }
  .title-page{
    padding: 15px 20px;
  }
  
.right-header {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
  .language, .admin-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .language i{
    color: lightblue;
    font-size: 1.3rem;
  }
  .language span{
    color: #ddd;
    font-size: 1rem;
  }
  

.admin-profile span{
  font-size: 1.2rem;
  color: #ddd;
}
.admin-profile img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}


/*Main*/

.main {
  display: flex;
  align-items: start;
}



/*Sidebar*/

.sidebar {
  
  background-image: linear-gradient(110.3deg, rgb(34, 47, 57) 4.3%, rgba(49, 55, 82, 1) 96.7%);
 
    filter: drop-shadow(3px 2px 4px #121212);
    position: sticky;
    top: 0;
    left: 0;
   width: 190px;
   height: 749px;
}

.welcome-message{
  filter: drop-shadow(3px 2px 4px #678493)
}

.sidebar > h2 {
  color: #fff;
  margin: 20px auto;
  padding: 0 10px;
  font-size: 1.5rem;
}

.sidebar nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1.6rem auto;
  padding: 4px 0px;
  padding-left: 0;
 
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #c9d7f8;
  font-weight: 500;
  transition: all 1s ease-in-out;
}

.sidebar nav ul li a:hover{
  color: #fff;
}

.sidebar nav ul li a .active{
  color: #007aff;
}

.fa-solid{
  font-size: 1.9rem;
}

.sidebar nav li a {
    position: relative;
    perspective: 1000px;
    cursor: pointer;
  }

  .sidebar nav li a i {
    transition: transform 0.3s;
    transform-origin: center center;
  }

  .sidebar nav li a:hover i {
    transform: scale(1.4);
  }

