*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section{
  font-family:Poppins ;
  background-color: #060714;
  }


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 400px;
  background-color: #0C0C1E;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(255,255,255,0.1);
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FBFBFB;
}
hr{
  margin-bottom: 40px;
  color: yellow;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}


.form-control input {
  width:100%;
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: .01px solid #FBFBFB;
  background-color: inherit;
  color: #FBFBFB;
  font-size: 1rem;
}
.form-control input:focus{
    outline: none;
}

.form-control .icons {
    position: absolute;
    bottom: 2px;
}

.form-control input[type="text"],
.form-control input[type="password"] {
  padding-left: 45px;
}

span img{
    width: 30px;
    height: 30px;    
}

.form-control #toggle-password{
    position: absolute;
    bottom:2px;
    right: 7px;
}
#toggle-password{
    width: 30px;
    height: 30px;
}


.form button {
  display: block;
  margin: 45px auto 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #342E37;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.shake {
  animation: shake 0.1s ease-in-out;
}

@keyframes shake {
  0%,10%, 30%{ transform: translateX(8px); }
  40%, 50%, 60%{ transform: translateX(-8px); }
 70%, 80%, 100%{ transform: translateX(8px); }
}

@media (max-width: 420px){
  .form-container{
    width: 90%;
  }
}

